{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Inove Project</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}assets/" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: iPortfolio - v1.2.0
    * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

        <div class="profile">
            <img src="{% static 'img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
            <h1 class="text-light"><a href="#">CyberSOC</a></h1>
            <div class="social-links mt-3 text-center">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>

        <nav class="nav-menu">
            <ul>
                
                <li>
                    {% if request.user.is_authenticated %}
                        <!--<a href="{% url 'erp:dashboard' %}"> -->
                        <a href="#skills">
                            <i class="bx bx-user"></i>  
                                Bienvenido &#9617;<strong>{{ request.user.username | title }}</strong>
                        </a>

                        <a href="{% url 'logout' %}">
                            <i class="fa fa-sign-out"></i>
                                <strong>Logout</strong> 
                        </a>

                    {% else %}
                        <a href="{% url 'login' %}">
                            <i class="bx bx-door-open"></i> Login
                        </a>
                    {% endif %}

                </li>

                <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
                <li><a href="#skills"><i class="bx bx-user"></i> <span>Tablero</span></a></li>
                <!--<li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
                <li><a href="#portfolio"><i class="bx bx-book-content"></i> Portfolio</a></li>
                <li><a href="#services"><i class="bx bx-server"></i> Services</a></li>
                <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li> -->

            </ul>
        </nav><!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">

        <!--<h1>CyberSOC</h1>-->


        <h1>
            {% if request.user.is_authenticated %}
                        Bienvenido <strong>"{{ request.user.username | title }}"</strong>
            {% else %}
                        <strong>Sistema Para Validadar de Spam</strong>
            {% endif %}

        </h1>


        <p>
            #
            <span class="typed" data-typed-items="Cybersecurity, Developer, Sysadmin, GNU/Linux, Automation, Python, Scripting"></span>
        </p>
    </div>
</section><!-- End Hero -->

<main id="main">



    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container">

            <div class="section-title">


        {% if request.user.is_authenticated %}

        <section id="skills" class="skills section-bg">
            <div class="container">
                <div class="section-title"></div>
                <div class="section-title">
                    <h2><strong>{{ request.user.username | title }}:</strong> Resúmen de Peticiones vía API (SPAM o HAM)</h2>
                    <p>En esta sección se puede ver el resúmen de cantidad de peticiones realizadas para determinar si un text/header es SPAM o HAM.</p>
                </div>

                <div class="row skills-content">

                    <div class="col-lg-6" data-aos="fade-up">

                        <div class="progress">
                            <span class="skill">Peticiones <i class="val">100%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="94" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="count-box">
                                <i class="icofont-document-folder"></i>
                                <span data-toggle="counter-up">944</span>
                                <p><strong>API</strong> Peticiones disponibles</p>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                        <div class="progress">
                            <span class="skill">Usuarios <i class="val">10%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                            <div class="count-box">
                                <i class="icofont-users-alt-5"></i>
                                <span data-toggle="counter-up">2</span>
                                <p><strong>Usuarios</strong> Registrados</p>
                            </div>
                        </div>

                    </div>

                </div>

            </div>


        </section><!-- End Tablero Section -->

        {% else %}
        <section id="skills" class="skills section-bg">
        <div class="container">

            <strong> Para ver esta sección debes loguearte en el sistema: </strong><a href="{% url 'login' %}">
            <i class="bx bx-door-open"></i> LOGIN

        </div>
        </section>
        {% endif %}



 <!--          <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">232</span>
                        <p><strong>Happy Clients</strong> consequuntur quae</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="icofont-document-folder"></i>
                        <span data-toggle="counter-up">521</span>
                        <p><strong>Projects</strong> adipisci atque cum quia aut</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="icofont-live-support"></i>
                        <span data-toggle="counter-up">1,463</span>
                        <p><strong>Hours Of Support</strong> aut commodi quaerat</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="icofont-users-alt-5"></i>
                        <span data-toggle="counter-up">15</span>
                        <p><strong>Hard Workers</strong> rerum asperiores dolor</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

-->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<!--<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>iPortfolio</span></strong>
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact.
            <!-- You can delete the links only if you purchased the pro version.
            <!-- Licensing information: https://bootstrapmade.com/license/
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer> -->

<!-- End  Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>